/* mis-asignaturas.page.scss */
ion-header {
    background-color: #FFC107; /* Amarillo */
    color: black;
  }
  
  ion-content {
    background-color: #FFFFFF; /* Blanco */
    padding: 20px;
  }
  

  
  ion-button {
    margin-top: 20px;
    background-color: #FFC107; /* Amarillo */
    color: black;
  }
  