<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="registrarAsistencia()">Registrar Asistencia</ion-button>

  <div *ngIf="mostrarQR">
    <ion-img [src]="codigoQR"></ion-img>
    <p>Escanea el código QR para registrar tu asistencia.</p>
  </div>

  <ion-button (click)="volver()">Volver</ion-button>
</ion-content>
